<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    
    <% if user_signed_in? %> 
  Welcome: <%= current_user.email %>  |
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
 <%else%>
 <%= link_to "Please Sign Up" , new_user_registration_path,class:"btn btn-default"   %> 
 <%= link_to "Sign In " , new_user_session_path,class:"btn btn-default"%>
 <%end%>
        
        
        <% if notice.present? %>
              <div class="alert alert-info" id="flash_message" style="text-align: center">
                  <button class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
                <%= notice %>
              </div>
            <% end %>
            <% if alert.present? %>
              <div class="alert alert-danger" id="flash_message" style="text-align: center; background-color:#ff0042 ;color:white">
                  <button class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
                <%= alert %>
              </div>
            <% end %>

<%= yield %>

</body>
</html>
