<div class="row">
   <div class="col-md-3 col-md-offset-4 text-center " style="margin-top:140px">
       <%= form_for  @account, :url => create_withdrawal_account_path, method: :post do |f| %>
   
               <div class="field">
                  <h3> <%= f.label :amount %></h3><br>
                   <%= f.text_field :amount,class:"form-control input-lg text-center", placeholder:"Enter the amount here"%>
               </div><br>
             
               
               
                    <%= f.submit 'Withdrawal',class:"btn btn-success btn-lg"%> &nbsp;&nbsp;
                    <%=link_to 'Back', atm_machine_path(session[:atm_no]),class:"btn btn-info btn-lg"%>
                  
                   
           
           
           <% end %>
   </div>
</div>

